<h1>All lists</h1>
<h2>There is something to show</h2>
<div id="lists">
  <% @lists.each do |listitem| %>
    <%= listitem.name %>
    <p>
      <%= link_to "Show this list", list_path(listitem.id) %>
    </p>
  <% end %>
</div>
<%= cl_image_tag("dlh0bnemcgkygcw9ttop",
      width: 400, height: 300, crop: :fill) %>
